<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ver aspirantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    

  </head>
  <body>
    <h1>Aspirantes</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo de documento</th>
          <th scope="col">Numero de documento</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Profesion</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Edad</th>
        </tr>
      </thead>
      <tbody>
          {% for aspirante in aspirantes %}
            <tr>
              <td>{{ aspirante.tipoDocumento }}</td>
              <td>{{ aspirante.numeroDocumento }}</td>
              <td>{{ aspirante.nombre }}</td>
              <td>{{ aspirante.apellido }}</td>
              <td>{{ aspirante.profesion }}</td>
              <td>{{ aspirante.ciudad }}</td>
              <td>{{ aspirante.edad }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>

    <a href="/">
      <button>Volver</button>
   </a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
